extends _layout

block nav
  include includes/_main-nav.jade

block content

  div.container

    for product in contentful.products
      .card
        if product.bannerImage
          img.card-img-top(src=product.bannerImage.fields.file.url, width=product.bannerImage.fields.file.details.image.width, height=product.bannerImage.fields.file.details.image.height)

        .card-block
          h4.card-title
            a(href='/products/#{product.slug}')= product.name
          if (product.number != undefined)
            h5.number N<sup>o.</sup> #{product.number}
          p.volume #{product.volume} ml
          p.abv #{product.abv}% Alc./Vol.

          p.card-text!= product.description

          h4 Suggested Uses

          != product.suggestedUses

          if product.recipes
            h4 Recipes

            for recipe in product.recipes
              != JSON.stringify(recipe)

              p: a(href='/recipes/#{recipe.fields.slug}')= recipe.fields.title
